<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clean Blog</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <script src="{{ site.baseurl }}/assets/scripts.js"></script>
  <img src="{{ site.baseurl }}/assets/bg-index.jpg" alt="Background Image">
</head>



<body>

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>

</html>
