<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clean Blog</title>
  <link rel="stylesheet" href="https://oarmstead.github.io/assets/main.css">
<script src="https://oarmstead.github.io/assets/scripts.js"></script>
<img src="https://oarmstead.github.io/assets/bg-index.jpg" alt="Background Image">

</head>



<body>

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>

</html>
